---
import Layout from "../layouts/Layout.astro";
---

<Layout title="astro-index demo">
    <a href="simple/"> iframe of simple example </a>
    <iframe class="frame" src="simple/" width="100%" height="400px"></iframe>
    <hr />
    <a href="recursive/"> iframe of recursive example </a>
    <iframe class="frame" src="recursive/" width="100%" height="400px"></iframe>
</Layout>
